/* 底部用户信息 */
.user-profile {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  bottom: var(--left-profile-bottom);
  height: var(--left-profile-height);
  padding: 10px 15px;
  margin: 0 8px;
  border-radius: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transition: all 0.2s;
  background-color: #fff;
  background-clip: padding-box;
}

.user-profile:hover {
  background-color: #f5f7fa;
  color: #1890ff;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.user-name {
  margin-left: 16px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 用户菜单 */
.user-menus {
  position: fixed;
  left: 8px;
  /* 用户信息总高度加上自己的一个margin-bottom */
  bottom: calc(var(--left-profile-height) + var(--left-profile-bottom) + 2px);
  /* 菜单栏总宽度 - 左右两边的margin */
  width: calc(var(--left-menu-width) - 16px);
  margin-bottom: 2px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  animation: slideUp 0.3s ease;
}

.user-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 8px 10px;
  margin: 4px 10px;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s;
}

.user-item:first-child {
  margin-top: 10px;
}

.user-item:last-child {
  margin-bottom: 10px;
}

.user-item:hover {
  background-color: #f5f7fa;
  color: #1890ff;
}
