html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

:root {
  /* 左侧菜单栏最小宽度 */
  --left-menu-min-width: 170px;
  /* 左侧菜单栏最大宽度 */
  --left-menu-max-width: 230px;
  /* 左侧菜单栏动态宽度 */
  --left-menu-width: max(var(--left-menu-min-width), min(14vw, var(--left-menu-max-width)));
  /* 左侧底部用户信息高度 */
  --left-profile-height: 50px;
  /* 左侧底部用户信息距离底部高度 */
  --left-profile-bottom: 15px;
  /* 右侧顶栏高度 */
  --top-bar-height: 60px;
  /* 右侧底部输入框高度 */
  --chat-input-height: 230px;
}

/* 首页总容器 */
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-size: 16px
}

/* 弹窗遮罩（左右居中，顶部对齐） */
.dialog-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  pointer-events: auto;
  z-index: var(--z-index-high);
}

/* 处理md解析渲染的样式 */
.chat-msg .markdown-renderer .paragraph-node {
  margin: 0;
}

.chat-msg .markdown-renderer .table-node {
  border-collapse: collapse;
  border: 1px solid #999;
}

.chat-msg .markdown-renderer .table-node th,
.chat-msg .markdown-renderer .table-node td {
  border: 1px solid #999;
}
