<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtu.springboot.mapper.FileContentMapper">
    <resultMap id="BaseResultMap" type="com.xjtu.springboot.pojo.FileContent">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="file_id" jdbcType="BIGINT" property="fileId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="parse_time" jdbcType="TIMESTAMP" property="parseTime"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from file_content
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.xjtu.springboot.pojo.FileContent">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            PostgreSQL
        </selectKey>
        insert into file_content (file_id, type, content,
        parse_time)
        values (#{fileId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
        #{parseTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xjtu.springboot.pojo.FileContent">
        update file_content
        set file_id    = #{fileId,jdbcType=BIGINT},
            type       = #{type,jdbcType=VARCHAR},
            content    = #{content,jdbcType=VARCHAR},
            parse_time = #{parseTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, file_id, type, content, parse_time
        from file_content
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select id, file_id, type, content, parse_time
        from file_content
    </select>
</mapper>