<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtu.springboot.mapper.FileMapper">
    <resultMap id="BaseResultMap" type="com.xjtu.springboot.pojo.File">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="session_id" jdbcType="BIGINT" property="sessionId"/>
        <result column="folder_id" jdbcType="BIGINT" property="folderId"/>
        <result column="new_name" jdbcType="VARCHAR" property="newName"/>
        <result column="original_name" jdbcType="VARCHAR" property="originalName"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="size" jdbcType="BIGINT" property="size"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="is_image" jdbcType="SMALLINT" property="isImage"/>
        <result column="image_width" jdbcType="INTEGER" property="imageWidth"/>
        <result column="image_height" jdbcType="INTEGER" property="imageHeight"/>
        <result column="upload_at" jdbcType="TIMESTAMP" property="uploadAt"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="com.xjtu.springboot.pojo.File">
        delete
        from lmp.file
        where id = #{id,jdbcType=BIGINT}
        and user_id = #{userId,jdbcType=BIGINT}
        and session_id = #{sessionId,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.xjtu.springboot.pojo.File" keyColumn="id"
            keyProperty="id" useGeneratedKeys="true">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT currval(pg_get_serial_sequence('lmp.file', 'id'))
        </selectKey>
        insert into lmp.file (user_id, session_id, folder_id,
        new_name, original_name, size, type, path, url,
        is_image, image_width, image_height,
        upload_at)
        values (#{userId,jdbcType=BIGINT}, #{sessionId,jdbcType=BIGINT},
        #{folderId,jdbcType=BIGINT},
        #{newName,jdbcType=VARCHAR}, #{originalName,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT},
        #{type,jdbcType=VARCHAR},
        #{path,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
        #{isImage,jdbcType=SMALLINT}, #{imageWidth,jdbcType=INTEGER},
        #{imageHeight,jdbcType=INTEGER},
        #{uploadAt,jdbcType=TIMESTAMP})
    </insert>

    <select id="batchInsert" resultType="java.lang.Long">
        insert into lmp.file (
        user_id, session_id, folder_id,
        new_name, original_name, size, type,
        path, url, is_image, image_width, image_height,
        upload_at
        )
        VALUES
        <foreach collection="rows" item="file" separator=",">
            (
            #{file.userId,jdbcType=BIGINT},
            #{file.sessionId,jdbcType=BIGINT},
            #{file.folderId,jdbcType=BIGINT},
            #{file.newName,jdbcType=VARCHAR},
            #{file.originalName,jdbcType=VARCHAR},
            #{file.size,jdbcType=BIGINT},
            #{file.type,jdbcType=VARCHAR},
            #{file.path,jdbcType=VARCHAR},
            #{file.url,jdbcType=VARCHAR},
            #{file.isImage,jdbcType=SMALLINT},
            #{file.imageWidth,jdbcType=INTEGER},
            #{file.imageHeight,jdbcType=INTEGER},
            #{file.uploadAt,jdbcType=TIMESTAMP}
            )
        </foreach>
        RETURNING id
    </select>

    <update id="updateByPrimaryKey" parameterType="com.xjtu.springboot.pojo.File">
        update lmp.file
        set user_id       = #{userId,jdbcType=BIGINT},
        session_id    = #{sessionId,jdbcType=BIGINT},
        folder_id     = #{folderId,jdbcType=BIGINT},
        new_name      = #{newName,jdbcType=VARCHAR},
        original_name = #{originalName,jdbcType=VARCHAR},
        size          = #{size,jdbcType=BIGINT},
        type          = #{type,jdbcType=VARCHAR},
        path          = #{path,jdbcType=VARCHAR},
        url           = #{url,jdbcType=VARCHAR},
        is_image      = #{isImage,jdbcType=SMALLINT},
        image_width   = #{imageWidth,jdbcType=INTEGER},
        image_height  = #{imageHeight,jdbcType=INTEGER},
        upload_at     = #{uploadAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
        and user_id = #{userId,jdbcType=BIGINT}
        and session_id = #{sessionId,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="com.xjtu.springboot.pojo.File" resultMap="BaseResultMap">
        select id,
        user_id,
        session_id,
        folder_id,
        new_name,
        original_name,
        size,
        type,
        path,
        url,
        is_image,
        image_width,
        image_height,
        upload_at
        from lmp.file
        where id = #{id,jdbcType=BIGINT}
        and user_id = #{userId,jdbcType=BIGINT}
        and session_id = #{sessionId,jdbcType=BIGINT}
    </select>

    <select id="selectByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
        select * from lmp.file
        <where>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="anonymId != null and anonymId != ''">and anonym_id = #{anonymId}</if>
            <if test="sessionId != null">and session_id = #{sessionId}</if>
            <if test="folderId != null">and folder_id = #{folderId}</if>
            <if test="fileType != null and fileType != ''">and type = #{fileType}</if>
            <if test="storageType != null and storageType != ''">and storage_type = #{storageType}</if>
            <if test="uploadTimeStart != null">and upload_at >= #{uploadTimeStart}</if>
            <if test="uploadTimeEnd != null">and upload_at <= #{uploadTimeEnd}</if>
            <if test="uploadStatus != null">and upload_status = #{uploadStatus}</if>
        </where>
        order by ${orderBy} ${orderDir}
        limit #{offset}, #{pageSize}
    </select>

    <select id="countByCondition" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(*) from lmp.file
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="anonymId != null and anonymId != ''">
                and anonym_id = #{anonymId}
            </if>
            <if test="sessionId != null">
                and session_id = #{sessionId}
            </if>
            <if test="folderId != null">
                and folder_id = #{folderId}
            </if>
            <if test="fileType != null and fileType != ''">
                and type = #{fileType}
            </if>
            <if test="storageType != null and storageType != ''">
                and storage_type = #{storageType}
            </if>
            <if test="uploadTimeStart != null">
                <![CDATA[ and upload_at >= #{uploadTimeStart} ]]>
            </if>
            <if test="uploadTimeEnd != null">
                <![CDATA[ and upload_at <= #{uploadTimeEnd} ]]>
            </if>
            <if test="uploadStatus != null">
                and upload_status = #{uploadStatus}
            </if>
        </where>
    </select>

    <select id="selectByFolderId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from lmp.file where folder_id = #{folderId}
    </select>

    <select id="selectExpiredChunkFiles" parameterType="java.util.LocalDateTime" resultMap="BaseResultMap">
        select * from lmp.file
        where upload_status = 0
        <![CDATA[ and upload_at < #{expireTime} ]]>
    </select>

    <select id="selectByUserMd5" resultMap="BaseResultMap">
        SELECT * FROM "lmp"."file"
        WHERE 1=1
        <if test="anonymId != null and anonymId != ''">
            AND "anonym_id" = #{anonymId}
        </if>
        <if test="anonymId == null or anonymId == ''">
            <if test="userId != null">
                AND "user_id" = #{userId}
                <if test="sessionId != null">
                    AND "session_id" = #{sessionId}
                </if>
            </if>
        </if>
        AND "file_md5" = #{fileMd5}
        LIMIT 1
    </select>
</mapper>