<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtu.springboot.mapper.FileContentMapper">
    <resultMap id="BaseResultMap" type="com.xjtu.springboot.pojo.FileContent">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="file_id" jdbcType="BIGINT" property="fileId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from file_content
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.xjtu.springboot.pojo.FileContent">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT currval(pg_get_serial_sequence('lmp.file_content', 'id')) AS id;
        </selectKey>
        insert into lmp.file_content (file_id, type, content,
        created_at, is_deleted, updated_at
        )
        values (#{fileId,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
        #{createdAt,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=SMALLINT},
        #{updatedAt,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xjtu.springboot.pojo.FileContent">
        update lmp.file_content
        set file_id    = #{fileId,jdbcType=BIGINT},
            type       = #{type,jdbcType=VARCHAR},
            content    = #{content,jdbcType=VARCHAR},
            created_at = #{createdAt,jdbcType=TIMESTAMP},
            is_deleted = #{isDeleted,jdbcType=SMALLINT},
            updated_at = #{updatedAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, file_id, type, content, created_at, is_deleted, updated_at
        from file_content
        where id = #{id,jdbcType=BIGINT}
    </select>

</mapper>