<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtu.springboot.mapper.FolderMapper">
    <resultMap id="BaseResultMap" type="com.xjtu.springboot.pojo.Folder">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="anonymous_id" jdbcType="VARCHAR" property="anonymousId"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="upload_id" jdbcType="VARCHAR" property="uploadId"/>
        <result column="total_files" jdbcType="INTEGER" property="totalFiles"/>
        <result column="uploaded_files" jdbcType="INTEGER" property="uploadedFiles"/>
        <result column="is_deleted" jdbcType="SMALLINT" property="isDeleted"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from folder
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.xjtu.springboot.pojo.Folder">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT currval(pg_get_serial_sequence('lmp.folder', 'id')) AS id;
        </selectKey>
        INSERT INTO lmp.folder (
        user_id, anonymous_id, parent_id,
        created_at, upload_id, total_files,
        uploaded_files, is_deleted, updated_at
        ) VALUES (
        #{userId,jdbcType=BIGINT},
        #{anonymousId,jdbcType=VARCHAR},
        #{parentId,jdbcType=BIGINT},
        #{createdAt,jdbcType=TIMESTAMP},
        #{uploadId,jdbcType=VARCHAR},
        #{totalFiles,jdbcType=INTEGER},
        #{uploadedFiles,jdbcType=INTEGER},
        #{isDeleted,jdbcType=SMALLINT},
        #{updatedAt,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.xjtu.springboot.pojo.Folder">
        UPDATE lmp.folder
        SET user_id        = #{userId,jdbcType=BIGINT},
            anonymous_id   = #{anonymousId,jdbcType=VARCHAR},
            parent_id      = #{parentId,jdbcType=BIGINT},
            created_at     = #{createdAt,jdbcType=TIMESTAMP},
            upload_id      = #{uploadId,jdbcType=VARCHAR},
            total_files    = #{totalFiles,jdbcType=INTEGER},
            uploaded_files = #{uploadedFiles,jdbcType=INTEGER},
            is_deleted     = #{isDeleted,jdbcType=SMALLINT},
            updated_at     = #{updatedAt,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByIds" resultMap="BaseResultMap">
        SELECT *
        FROM lmp.folder
        <where>
            is_deleted = 0
            <choose>
                <when test="userId != null">
                    AND user_id = #{userId}
                </when>
                <otherwise>
                    <if test="anonymousId != null">
                        AND anonymous_id = #{anonymousId}
                    </if>
                    <if test="anonymousId == null">
                        AND 1 = 0
                    </if>
                </otherwise>
            </choose>
        </where>
        LIMIT 1
    </select>
</mapper>