<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtu.springboot.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.xjtu.springboot.pojo.User">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
    </resultMap>
    <insert id="insert" parameterType="com.xjtu.springboot.pojo.User">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user (username, phone, password, token)
        values (#{username,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR},
        #{token,jdbcType=VARCHAR})
    </insert>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, username, phone, password, token, token
        from user
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id,
               username,
               phone,
               password,
               token
        from user
        where id = #{id}
    </select>

    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id,
               username,
               phone,
               password,
               token
        from user
        where username = #{username}
    </select>

    <update id="updateByPrimaryKey" parameterType="com.xjtu.springboot.pojo.User">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="password != null and username != ''">
                password = #{password},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
        </trim>
        where id = #{id}
    </update>

    <update id="updatePassword" parameterType="com.xjtu.springboot.pojo.User">
        update user
        set password = #{password}
        where id = #{id}
    </update>
</mapper>